@import "tailwindcss";
@import "tailwindcss-primeui";

/* disable dark theme  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Tailwind Theme  */
@theme {
  /* Design Tokens */
  --color-primary-50: hsl(190, 100%, 95%);
  --color-primary-100: hsl(190, 100%, 90%);
  --color-primary-200: hsl(190, 100%, 80%);
  --color-primary-300: hsl(190, 100%, 70%);
  --color-primary-400: hsl(190, 100%, 60%);
  --color-primary-500: hsl(190, 100%, 50%);
  --color-primary-600: hsl(190, 100%, 40%);
  --color-primary-700: hsl(190, 100%, 30%);
  --color-primary-800: hsl(190, 100%, 20%);
  --color-primary-900: hsl(190, 100%, 15%);
  --color-primary-950: hsl(190, 100%, 10%);

  --color-secondary-50: hsl(300, 100%, 95%);
  --color-secondary-100: hsl(300, 100%, 90%);
  --color-secondary-200: hsl(300, 100%, 80%);
  --color-secondary-300: hsl(300, 100%, 70%);
  --color-secondary-400: hsl(300, 100%, 60%);
  --color-secondary-500: hsl(300, 100%, 50%);
  --color-secondary-600: hsl(300, 100%, 40%);
  --color-secondary-700: hsl(300, 100%, 30%);
  --color-secondary-800: hsl(300, 100%, 20%);
  --color-secondary-900: hsl(300, 100%, 15%);
  --color-secondary-950: hsl(300, 100%, 10%);

  /* Semantic Tokens */
  --color-primary: var(--color-primary-500);
  --color-primary-foreground: hsl(210 40% 98%);

  --color-secondary: var(--color-secondary-500);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-foreground: hsl(222.2 84% 4.9%);
  --color-background: hsl(0 0% 100%);

  --color-muted: hsl(210 40% 96.1%);
  --color-muted-foreground: hsl(215.4 16.3% 46.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(222.2 84% 4.9%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 84% 4.9%);

  --color-border: hsl(0 0% 90%);
  --color-input: hsl(214.3 31.8% 91.4%);

  --color-accent: hsl(210 40% 96.1%);
  --color-accent-foreground: hsl(222.2 47.4% 11.2%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-warning: hsl(43.01, 91.63%, 53.14%);
  --color-ring: hsl(222.2 84% 4.9%);
}

/* Prime UI Theme*/
:root {
  /* Design Tokens */
  --p-primary-50: var(--color-primary-50);
  --p-primary-100: var(--color-primary-100);
  --p-primary-200: var(--color-primary-200);
  --p-primary-300: var(--color-primary-300);
  --p-primary-400: var(--color-primary-400);
  --p-primary-500: var(--color-primary-500);
  --p-primary-600: var(--color-primary-600);
  --p-primary-700: var(--color-primary-700);
  --p-primary-800: var(--color-primary-800);
  --p-primary-900: var(--color-primary-900);
  --p-primary-950: var(--color-primary-950);

  --p-surface-0: var(--color-white);
  --p-surface-50: var(--color-slate-50);
  --p-surface-100: var(--color-slate-100);
  --p-surface-200: var(--color-slate-200);
  --p-surface-300: var(--color-slate-300);
  --p-surface-400: var(--color-slate-400);
  --p-surface-500: var(--color-slate-500);
  --p-surface-600: var(--color-slate-600);
  --p-surface-700: var(--color-slate-700);
  --p-surface-800: var(--color-slate-800);
  --p-surface-900: var(--color-slate-900);
  --p-surface-950: var(--color-slate-950);

  /* Semantic Tokens */
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
  --p-content-border-radius: 6px;
}
